.contenedor{
	width: 1000px;
	margin:0 auto;
	background-color: gray;

}
.box1{
	width: 500px;
	height: 600px;
	background-color: skyblue;
		float:left;

}
.box2{
	width: 400px;
	height: 250px;
	background-color: pink;
	
	float: left;
}

.limpiador{
	clear: both;
}