*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
body{
	font-family: arial;
}

.contenedor{
	width: 1024px;
	margin:0 auto;
}
.contenido-opciones{

}
.contenido-opciones li{
	display: inline-block;
	padding: 10px;

}

#contenido{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#contenido article{
	width: 30%;
	margin-bottom: 30px;
}

#contenido article img{
	width: 100%;

}