.parrafo2{
	background-color: skyblue;
	padding: 40px;

	padding: 10px 20px;

	/* padding top,bottom left,rigth*/
	padding-left:10px;
	padding-right: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn{
	color: red;
	padding-top: 150px;
	display: inline-block;
	background-color: gray;
}

.sub{
	background-color: blue;
	padding-top: 30px;
	display: inline-block;
}